
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {
    color: white;
    display: grid;
    padding: 10px;
    background-color: gray;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px; 
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.boxes {
    width: 300px;
    height: 300px;   
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: blue;
}

.box3 {
    background-color: green;
}


