

ul{
    border: 1px dotted red;
    list-style-image: url("Imagens/icon.png");
    list-style-position: inside;
    background-color: #f3e;
    margin:0;
    padding: 10px;
}

ol{
    border: 1px solid blue;
    list-style-image: url("Imagens/fechar.png");
    list-style-position: inside;
    background-color: #59e;
    margin:0;
    padding:10px;
}

li{
    border:1px solid black;
    background-color: yellow;
    margin: 5px;
    padding:5px;
    border-radius: 5px;
}